/*body{
    border : 20px solid red;
}*/
h1{
     color:rgb(255, 251, 4) ;
     border-color: black;
     border-width: thick;
     border-left: rgb(241, 49, 241);
     border-block-end: tan;
     border-style: solid;
     border-right-style: groove;
     border-top-color: red;

}
input {

    background-color:blue;
    color:white;    

}
input:hover{
    color:red;
    font-size: 36px;
    
}
label{
    color:red;
}